body {
  font-family: Arial;
  text-align: center;
  background-color: #f4f4f4;
}

header {
  background: #222;
  color: white;
  padding: 20px;
}

nav {
  margin: 20px;
}

nav a {
  margin: 10px;
  text-decoration: none;
  color: blue;
}

button {
  padding: 10px;
  background: green;
  color: white;
  border: none;
}